<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.thm.mdde.preferences.EDBPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.thm.mdde.preferences.page.EvolveDBPrefPage"
            id="de.thm.mdde.preferences.page1"
            name="EvolveDB">
      </page>
   </extension>

</plugin>
