<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.thm.mdde.view.editor.MddeCustomEditor"
            default="true"
            extensions="mdde"
            icon="icons/full/obj16/database16.png"
            id="de.thm.mdde.view.editor.mddeCustomEditor"
            name="Customized Mdde Editor">
      </editor>
   </extension>

</plugin>
