<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated migration -->
      <package
            uri="http://www.thm.de/migration"
            class="de.thm.evolvedb.migration.MigrationPackage"
            genModel="model/migration.genmodel"/>
   </extension>

</plugin>
