<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
       
    <extension point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="viewmodels/Index1.view"/>













































        
        <file filePath="viewmodels/Database_Schema.view"/>
        
        <file filePath="viewmodels/ForeignKey.view"/>
        
        <file filePath="viewmodels/PrimaryKey.view"/>
        
        <file filePath="viewmodels/Column.view"/>
           
    </extension>
      


    <extension point="org.eclipse.emf.ecp.view.template">
        <viewTemplate xmi="templates/type.template"/>
    </extension>
</plugin>