/.SQLGenerator.java._trace
/.SQLGenerator.xtendbin
/SQLGenerator.java
/.DuplicateDatabaseSchema.java._trace
/.CREATE_ELEMENT.java._trace
/.DELETE_ELEMENT.java._trace
/.MOVE_ELEMENT.java._trace
/.SET_ATTRIBUTE.java._trace
/.ColumnUtil.java._trace
/.CREATE_ELEMENT.xtendbin
/.ColumnUtil.xtendbin
/.DELETE_ELEMENT.xtendbin
/.DuplicateDatabaseSchema.xtendbin
/.MOVE_ELEMENT.xtendbin
/.SET_ATTRIBUTE.xtendbin
/CREATE_ELEMENT.java
/ColumnUtil.java
/DELETE_ELEMENT.java
/DuplicateDatabaseSchema.java
/MOVE_ELEMENT.java
/.ComplexChanges.java._trace
/.ComplexChanges.xtendbin
/ComplexChanges.java
/SET_ATTRIBUTE.java
